@using Eventures.Data.Migrations
@using Eventures.WebApp.Utilities.Contracts
@model Eventures.WebApp.ViewModels.Events.EventsListViewModel
@inject ICounter Counter

@{
	ViewBag.Title = "All Events";
	Layout = "_Layout";

}

<main class="mt-3 mb-5">
	<h1 class="text-center">All Events</h1>
	<hr class="w-75 hr-2 eventures-bg-color" />
	<h3 class="bg-danger text-center">@TempData["error"]</h3>
	<table class="table w-75 mx-auto table-hover">
		<thead>
		<tr class="row font-weight-bold">
			<th class="mr-1">#</th>
			<th class="col-md-2">Name</th>
			<th class="col-md-2">Start</th>
			<th class="col-md-2">End</th>
			<th class="col-md-4">Actions</th>
		</tr>
		</thead>
		<tbody>
		@for (var i = 0; i < Model.Events.ToList().Count(); i++)
		{
			var order = Model.Events.ToList()[i];
			if (Counter.Current() % 2 == 0)
			{
				@:<tr class=" row">
			}
			else
			{
				@:<tr class="row">
			}
			<td>@Counter.Next()</td>
			<td class="col-md-2 align-middle">@order.Name</td>
			<td class="col-md-2 align-middle">@order.Start</td>
			<td class="col-md-2 align-middle">@order.End</td>
			<td class="col-md-4 align-middle">
				<vc:order order=order> </vc:order>
			</td>
			@:</tr>
		}
		@*@foreach (var order in Model.Events)
		{
			if (Counter.Current() % 2 == 0)
			{
				@:<tr class=" row">
			}
			else
			{
				@:<tr class="row">
			}
			<td>@Counter.Next()</td>
			<td class="col-md-2 align-middle">@order.Name</td>
			<td class="col-md-2 align-middle">@order.Start</td>
			<td class="col-md-2 align-middle">@order.End</td>
			<td class="col-md-4 align-middle">
				<vc:order order=order> </vc:order>
			</td>
			@:</tr>
		}*@
		</tbody>
	</table>
	<hr class="w-75 hr-2 eventures-bg-color" />
</main>

